{% load static %}
<link rel="stylesheet" href="{% static 'shop/css/footer.css' %}">
<footer class="footer">
    <div class="container">
        <a href="#" class="footer__link">Find a retailer near you</a>
        <p class="footer__text">
            Or call <a href="800 207 758">800 207 758</a>
        </p>
        <p class="name_hub"><a href="https://github.com/Longin-Khibovskiy">Longin Khibovskiy</a>&nbsp;&nbsp;
            <a href="https://github.com/Khusainceg77">Ruslan Khusainov</a>&nbsp;&nbsp;
            <a href="https://github.com/Veronichka-lanyouk">Veronika Lanyouk</a>&nbsp;&nbsp;
            <a href="https://github.com/Strr1t">Alexandr Larionov</a>&nbsp;&nbsp;
            <a href="https://github.com/FuriakAngelika">Angelika Furiak</a>
        </p>
        <ul class="footer__list">
            <li class="footer__item">Copyright © 2023 Apple Inc.</li>
            <li class="footer__item">All rights reserved.</li>
            <li class="footer__item"><a href="#"></a>Legal Notices</li>
            <li class="footer__item"><a href="#"></a>Site Map</li>
            <li class="footer__item"><a href="#"></a>Privacy Policy</li>
        </ul>
    </div>
</footer>