{% load static %}
<link rel="stylesheet" href="{% static 'shop/css/header.css' %}">
<header class="header">
    <div class="container">
        <div class="header__top">
{#            <a class="hover-div" href="{% url 'shop:product_list' %}">#}
{#                <span class="logo">KLKFL</span>#}
{#                <span class="hover-logo">KLKFL</span>#}
{#            </a>#}
            <a class="button_head" data-text="Awesome" href="{% url 'shop:product_list' %}">
                <span class="actual-text" style="color: #0e0e0e">&nbsp;KLKFL&nbsp;</span>
                <span aria-hidden="true" class="front-text">&nbsp;KLKFL&nbsp;</span>
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <div class="dropdown">
                            <button class="dropbtn">Категории
                            </button>
                            <div class="dropdown-content">
                                {% for i in categories %}
                                    <a href="{{ i.get_absolute_url }}">{{ i.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                <li>
                    <a href="{% url 'login' %}">lalala</a>
{#                    <a href="{% url 'user_profile' %}">lala</a>#}
                </li>
                    <li class="menu__item">
                        <a class="menu__link" href="{% url 'shop:catalog' %}">Каталог</a>
                    </li>
                    <li class="menu__item">
                        {% if request.user.is_authenticated %}
                            <a class="menu__link" role="button" href="{% url 'shop:logout' %}">Выйти</a>
                        {% else %}
                            <a class="menu__link" role="button" href="{% url 'shop:login' %}">Войти</a>
                            &nbsp
                            <a class="menu__link" role="button" href="{% url 'shop:register' %}">Зарегистрироваться</a>
                        {% endif %}
                    </li>
                <li class="menu__item">
                        <a class="menu__link" href="{% url 'shop:about' %}">О нас</a>
                    </li>
                    <li class="menu__item menu__item-btn">
                        <a class="tooltip" href="{% url 'cart:cart_detail' %}">
                            КОРЗИНА
                            <div class="tooltiptext">₽ {{ cart_total_price }}</div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>