{% load static %}
<link rel="stylesheet" href="{% static 'shop/css/header.css' %}">
<header class="header">
    <div class="container">
        <div class="header__top">
            <div class="hover-div">
                <span class="logo">KLKFL</span>
                <span class="hover-logo">KLKFL</span>
            </div>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <div class="dropdown">
                            <button class="dropbtn">Category
                            </button>
                            <div class="dropdown-content" >
                                {% for i in categories %}
                                    <a href="{{ i.get_absolute_url }}">{{ i.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Product</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Contacts</a>
                    </li>
                    <li class="menu__item menu__item-btn">
                        <button class="menu__btn">BUY</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>