{% load static %}
{% load humanize %}
<link rel="stylesheet" href="{% static 'shop/css/normalize.css' %}"/>
<link rel="stylesheet" href="{% static 'shop/css/base.css' %}"/>
<link rel="stylesheet" href="{% static 'shop/css/catalog.css' %}">
<link rel="icon" href="{% static 'shop/img/img.png' %}">
{% include 'shop/inc/_header.html' %}
{% block content %}
    <h1 style="text-align: center; padding-bottom: 60px; font-size: 60px; font-family: Palatino;">Каталог товаров</h1>
    <section class="color">
        <div class="container">
            <div class="color-list">
                {% for prod in prod %}
                    <div class="catalog-card">
                        <div class="color-item">
                            <a href="{{ prod.get_absolute_url }}">
                                <img class="color_img" src="







                                        {% if prod.image %}{{ prod.image.url }}{% else %}{% static 'shop/img/no_image.png' %}{% endif %}">
                            </a>
                            <p class="catalog-title">{{ prod.title }}</p>
                            <p class="catalog-price">{{ prod.price|intcomma }} ₽</p>
                        </div>
                    </div>
                {% empty %}
                    <li>Каталог пуст</li>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% include 'shop/inc/_footer.html' %}