{% load static %}
<link rel="stylesheet" href="{% static 'shop/css/normalize.css' %}"/>
<link rel="stylesheet" href="{% static 'shop/css/header.css' %}"/>
<link rel="stylesheet" href="{% static 'shop/css/detail.css' %}"/>
<link rel="icon" href="{% static 'shop/img/img.png' %}">
<title>{% block title %}О товаре{% endblock %}</title>
{% include 'shop/inc/_header.html' %}
{% block content %}
    {% if category.name == 'Наушники' %}
        <div class="header__content">
        <h1 class="title">
        <span class="title--air">Air</span
        ><span class="title--pod">Pod</span><span class="title--s">S</span>
        <span class="title--max">MAX</span>
    {% elif category.name == 'Айфоны' %}
        <div class="header__content">
        <h1 class="title">
    {% endif %}
<!-- <span class="title--ax"></span> -->
</h1>
<div class="header__content-imades">
    {% if product.slug == 'airpods-max-green' %}
        <img
                class="content-item color--green content-item__active"
                src="{{ product.image.url }}"
                alt=""
        />
    {% elif product.slug == 'airpods-max-pink' %}
        <img
                class="content-item color--red content-item__active"
                src="{{ product.image.url }}"
                alt=""
        />
    {% elif product.slug == 'airpods-max-space-gray' %}
        <img
                class="content-item color--black content-item__active"
                src="{{ product.image.url }}"
                alt=""
        />
    {% elif product.slug == 'airpods-max-sky-blue' %}
        <img
                class="content-item color--blue content-item__active"
                src="{{ product.image.url }}"
                alt=""
        />
    {% elif product.slug == 'airpods-max-white' %}
        <img
                class="content-item color--white content-item__active"
                src="{{ product.image.url }}"
                alt=""
        />
    {% elif product.slug == 'iphone-15-pro-max-black-titanium' %}
        <img
                class="content-item color--black content-item__active"
                src="{{ product.image.url }}"
                alt=""
                width="30%"
        />
    {% elif product.slug == 'iphone-15-pro-max-blue-titanium' %}
        <img
                class="content-item color--blue content-item__active"
                src="{{ product.image.url }}"
                alt=""
                width="30%"
        />
    {% elif product.slug == 'iphone-15-pro-max-white-titanium' %}
        <img
                class="content-item color--white content-item__active"
                src="{{ product.image.url }}"
                alt=""
                width="30%"
        />
    {% else %}
        <img
                class=""
                src="{{ product.image.url }}"
                alt="" width="30%"

        />
    {% endif %}
</div>
</div>
<section class="choose-color">
    {% if product.available %}
        <form action="{% url 'cart:cart_add' product.id %}" method="post" class="buy_from">
            {% csrf_token %}
            <span class="input-group add-to-cart shadow-custom">
                                <div class="input-group-prepend">
                                    <p style="margin: 0">{{ product.title }}</p>
                                    <span class="price">₽ {{ product.price }}</span>
                                </div><br>
                                {{ cart_product_form.quantity }}
                                <div>
                                    <button class="button type1" type="submit" title="Add to cart"><span
                                            class="btn-txt">КУПИТЬ</span>
                                    </button>
                                </div>
                            </span>
        </form>
    {% else %}
        <div style="color: red; font-weight: bolder; font-size: x-large">Временно недоступен</div>
    {% endif %}
    <div class="container">
        <h3 class="choose-color__title">Выберите свой цвет</h3>
        <p class="choose-color__text">
            Идеальный баланс между чистотой Hi-Fi и волшебством AirPods. Максимальное личное качество звука.
        </p>
        <div class="choose-color__list">
            {% for other_product in other_products %}
                <a class="choose-color-btn" data-button="color--black"
                   href="{{ other_product.get_absolute_url }}">
                    <img src="{{ other_product.image.url }}" alt="" width="125px"/>
                    <p style="margin: 0">{{ other_product.title }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
</section>
{% if category.name == 'Наушники' %}
    <main class="main">
        <section class="composition">
            <div class="container">
                <h2 class="composition__title main__title">
                    Чрезвычайно оригинальная композиция.
                </h2>
                <p class="composition__text">
                    Представляем новое изобретение накладных наушников. AirPods Max, от подушки до оголовья, разработаны
                    с учетом акустической изоляции и адаптированы к различным формам головы, поэтому вы можете
                    погрузиться в чистоту звука.
                </p>
                <div class="composition__inner">
                    <div class="composition__inner-text">
                        <p>
                            Оголовье изготовлено из дышащей сетки, распределяющей вес и уменьшающей давление на голову.
                        </p>
                        <p>
                            Конструкция из нержавеющей стали покрыта мягким на ощупь материалом, что обеспечивает
                            замечательную гармонию между прочностью, гибкостью и комфортом.
                        </p>
                        <p>
                            Телескопические рычаги расширяются и остаются в любом положении, которое вы хотите, позволяя
                            вам сохранять форму и изоляцию.
                        </p>
                    </div>
                    {% if gallery_images %}
                        <img
                                class="content-item color--white content-item__active"
                                src="{{ gallery_images.first.image.url }}"
                                alt=""
                        />
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="case">
            <div class="container">
                <h2 class="case__title main__title">
                    Это даже сохраняет батарею.
                </h2>
                <p class="case__text">
                    При хранении в элегантном и легком чехле Smart Case AirPods Max переходят в режим пониженного
                    энергопотребления для экономии энергии.
                </p>
                {% if gallery_images %}
                    <img
                            class="content-item color--white content-item__active"
                            src="{{ gallery_images.last.image.url }}"
                            alt=""
                    />
                {% endif %}
                <h2 class="energy__title main__title">
                    Остаться в живых, остаться в живых.
                </h2>
                <p class="energy__num">20</p>
                <p class="energy__text">
                    часов музыки, фильмов и звонков с включенным активным шумоподавлением и пользовательским
                    пространственным звуком. 5 А всего 5 минут зарядки через разъем Lightning дают вам полтора часа
                    звука.
                </p>
            </div>
        </section>
        <section class="audio" style="background-image: url({% static 'shop/img/Group_2.png' %})">
            <div class="container">
                <div class="audio__inner">
                    <div class="audio__box">
                        <p class="audio__text">
                            Custom Spatial Audio с динамическим отслеживанием положения головы обеспечивает объемное
                            звучание, достойное кинотеатра.
                        </p>
                        <p class="audio__text">
                            Благодаря встроенным гироскопам и акселерометрам AirPods Max и ваш iPhone, iPad, Mac или
                            Apple TV распознают малейшие движения головы и сохраняют ровный звук на вашем устройстве.
                        </p>
                        <p class="audio__text">
                            А в Apple Music специальный пространственный звук с динамическим отслеживанием положения
                            головы создает уникальные трехмерные впечатления от прослушивания.
                        </p>
                        <button class="btn">КУПИТЬ</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% elif category.name == 'Айфоны' %}
    <main class="main">
        <section class="composition">
            <div class="container">
                <h2 class="composition__title main__title">
                    120 мм чистого Профессионального зума.
                </h2>
                <div class="composition__inner">
                    <div class="composition__inner-text">
                        <p>
                            Для iPhone 15 Pro Max мы разработали 5-кратный телеобъектив с самым длинным оптическим зумом
                            среди всех iPhone, который когда-либо помещался в нашу компактную систему камер Pro.
                        </p>
                        <p>
                            Теперь вы можете делать более резкие крупные планы с большего расстояния — например,
                            феноменальную фотографию вашего друга или гол в футбольном матче вашего ребенка.
                        </p>
                    </div>
                    {% if gallery_images %}
                        <img
                                class="content-item color--green content-item__active"
                                src="{{ gallery_images.last.image.url }}"
                                alt=""
                                width="250px">
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="case">
            <div class="container">
                <h2 class="case__title main__title">
                    iPhone. <br>
                    Выкован из титана.
                </h2>
                <h3 class="case__text">
                    iPhone 15 Pro — первый iPhone, изготовленный из титана авиационного класса, изготовленного из того
                    же сплава, который используют космические корабли для полетов на Марс.
                </h3>
                {% if gallery_images %}
                    <img
                            class="content-item color--green content-item__active"
                            src="{{ gallery_images.first.image.url }}"
                            alt=""
                            width="250px"
                    />
                {% endif %}
                <h2 class="energy__title main__title">
                    Время автономной работы, несомненно, на профессиональном уровне.
                </h2>
                <h3>
                    Даже несмотря на такое количество новых передовых функций, iPhone 15 Pro по-прежнему обеспечивает
                    потрясающее время автономной работы в течение всего дня.
                </h3>
                <p class="energy__num">29 ч</p>
                <h4 class="energy__text">
                    воспроизведения видео на iPhone 15 Pro Max.<br>
                    Добавьте зарядное устройство MagSafe для быстрой и
                    эффективной беспроводной зарядки.
                </h4>
            </div>
        </section>
        <section class="audio"
                 style="background-image: url({% static 'shop/img/group_ip.jpg' %})">
            <div class="container">
                <div class="audio__inner">
                    <div class="audio__box" style="padding-bottom: 75vh;">
                        <p class="audio__text">
                            iPhone 15 Pro — это первый iPhone, поддерживающий USB 3.6, что обеспечивает огромный скачок
                            в скорости передачи данных и ускорении профессиональных рабочих процессов, чем когда-либо
                            прежде.
                        </p>
                        <p class="audio__text">
                            Новый разъем USB‑C позволяет заряжать Mac или iPad с помощью того же кабеля, который вы
                            используете для зарядки iPhone 15 Pro. Прощай, беспорядок в кабелях.
                        </p>
                        <p class="audio__text">
                            Вплоть до <br>
                            <span style="font-size: 50px; font-weight: bold">20 раз быстрее</span><br>
                            передача файлов
                        </p>
                        <p class="audio__text">
                            А с совершенно новым Wi-Fi 6E7 вы получите в два раза больше скорость беспроводной связи.
                            Таким образом, вы можете загружать, скачивать и передавать файлы в мгновение ока.
                        </p>
                        <button class="btn">КУПИТЬ</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% elif category.name == 'Макбуки' %}
    <main class="main">
        <section class="composition">
            <div class="container">
                <h2 class="composition__title main__title">
                    Все правильные связи.
                </h2>
                <div class="composition__inner">
                    <div class="composition__inner-text">
                        <p>
                            MacBook Pro оснащен мощным набором портов для подключения высокоскоростных периферийных
                            устройств, управления дисплеями с высоким разрешением или прямой выгрузки карт SDXC. Он
                            поддерживает как Wi-Fi 6E, так и Bluetooth 5.3.
                        </p>
                        <p>
                            Управляйте внешними дисплеями. Подключите один внешний дисплей высокого разрешения к M3, до
                            двух к M3 Pro или до четырех к M3 Max.
                        </p>
                    </div>
                    {% if gallery_images %}
                        <img
                                class="content-item-mac color--green content-item__active"
                                src="{{ gallery_images.last.image.url }}"
                                alt=""
                                width="500px" height="150px">
                    {% endif %}
                </div>
            </div>
        </section>
        <section class="case">
            <div class="container">
                <h2 class="case__title main__title">
                    iPhone. <br>
                    Выкован из титана.
                </h2>
                <h3 class="case__text">
                    iPhone 15 Pro — первый iPhone, изготовленный из титана авиационного класса, изготовленного из того
                    же сплава, который используют космические корабли для полетов на Марс.
                </h3>
                {% if gallery_images %}
                    <img
                            class="content-item color--green content-item__active"
                            src="{{ gallery_images.first.image.url }}"
                            alt=""
                            width="250px"
                    />
                {% endif %}
                <h2 class="energy__title main__title">
                    Время автономной работы, несомненно, на профессиональном уровне.
                </h2>
                <h3>
                    Даже несмотря на такое количество новых передовых функций, iPhone 15 Pro по-прежнему обеспечивает
                    потрясающее время автономной работы в течение всего дня.
                </h3>
                <p class="energy__num">29 ч</p>
                <h4 class="energy__text">
                    воспроизведения видео на iPhone 15 Pro Max.<br>
                    Добавьте зарядное устройство MagSafe для быстрой и
                    эффективной беспроводной зарядки.
                </h4>
            </div>
        </section>
        <section class="audio"
                 style="background-image: url({% static 'shop/img/group_ip.jpg' %})">
            <div class="container">
                <div class="audio__inner">
                    <div class="audio__box" style="padding-bottom: 75vh;">
                        <p class="audio__text">
                            iPhone 15 Pro — это первый iPhone, поддерживающий USB 3.6, что обеспечивает огромный скачок
                            в скорости передачи данных и ускорении профессиональных рабочих процессов, чем когда-либо
                            прежде.
                        </p>
                        <p class="audio__text">
                            Новый разъем USB‑C позволяет заряжать Mac или iPad с помощью того же кабеля, который вы
                            используете для зарядки iPhone 15 Pro. Прощай, беспорядок в кабелях.
                        </p>
                        <p class="audio__text">
                            Вплоть до <br>
                            <span style="font-size: 50px; font-weight: bold">20 раз быстрее</span><br>
                            передача файлов
                        </p>
                        <p class="audio__text">
                            А с совершенно новым Wi-Fi 6E7 вы получите в два раза больше скорость беспроводной связи.
                            Таким образом, вы можете загружать, скачивать и передавать файлы в мгновение ока.
                        </p>
                        <button class="btn">КУПИТЬ</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endif %}
{% include 'shop/inc/_footer.html' %}
{% endblock %}