{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {#    <div class="row row-cols-1 row-cols-md-3 g-4">#}
    {#        {% for product in products.category.ajfony %}#}
    {#            <div class="col" style="color: black">#}
    {#                <div class="card h-100">#}
    {#                    <a href="{{ product.get_absolute_url }}">#}
    {#                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'shop/img/no_image.png' %}{% endif %}" class="card-img-top" alt="...">#}
    {#                    </a>#}
    {#                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>#}
    {#                    <div class="card-body">#}
    {#                        <h5 class="card-title">{{ product.name }}</h5>#}
    {#                        <p class="card-text">{{ product.description }}</p>#}
    {#                    </div>#}
    {#                    <div class="card-footer">#}
    {#                        <small class="text-muted">₽ {{ product.price }}</small>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        {% endfor %}#}
    {#    </div>#}
    <section class="color">

        <div class="container">
            <h2 class="color-title">ВЫБЕРИ СВОЙ ЦВЕТ</h2>

            <ul class="color-list">
{#            Сделать вывод только наушников#}
                    {% for product in Product.objects.filter.Наушники %}
                        <li class="color-item">
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}
                                <img src="
                                        {% if product.image %}{{ product.image.url }}{% else %}{% static 'shop/img/no_image.png' %}{% endif %}">
                            </a>
                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </li>
                    {% endfor %}
            </ul>
        </div>

    </section>
    <section class="color-headset">
        <div class="container">
            <h2 class="color-title">ВЫБЕРИ ЦВЕТ ПОД СВОЙ СТИЛЬ</h2>
            <p class="color-text">
                Идеальный баланс между чистотой hi‑fi и магией AirPods.
                Непревзойденное качество персонального звучания.
            </p>
            <ul class="color-list">
                <li class="color-item">
                    <img src="images/headset-green.jpg" alt=""/>
                    <h3>Зеленый</h3>
                </li>
                <li class="color-item">
                    <img src="images/headset-blue.jpg" alt=""/>
                    <h3>Голубое небо</h3>
                </li>
                <li class="color-item">
                    <img src="images/headset-white.png" alt=""/>
                    <h3>Серебристый</h3>
                </li>
                <li class="color-item">
                    <img src="images/headset-blac.png" alt=""/>
                    <h3>Серый космос</h3>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}