{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Домашняя страница{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Jost:wght@400;500;700;900&family=Poppins:wght@400;600;700;900&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'shop/css/normalize.css' %}"/>
    <link rel="stylesheet" href="{% static 'shop/css/base.css' %}"/>
    <link rel="icon" href="{% static 'shop/img/img.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>$(window).on("scroll", function () {
        if ($(window).scrollTop() > 50) {
            $(".header__top").addClass("active");
        } else {
            //remove the background property so it comes transparent again (defined in your css)
            $(".header__top").removeClass("active");
        }
    });</script>
</head>
<body>
<!-- Navbar-->
{% include 'shop/inc/_header.html' %}
<!--End Navbar-->
{% block content %}
{% endblock %}
<section class="headline">
    <div class="container">
        <h1 class="title" style="filter: drop-shadow(0 0 25px #d3a247);">IPHONE 15 PRO</h1>
        <img
                class="headline-img"
                src="{% static 'shop/img/Iphones_15.png' %}"
                alt="IPHONE 15 PRO" width="100%"
        />{% for i in categories %}{% if i.name == 'Айфоны' %}
        <a href="{{ i.get_absolute_url }}" class="headline-btn">ВЫБРАТЬ</a>{% endif %}{% endfor %}
    </div>
</section>
<section class="new">
    <div class="container">
        <h2 class="new-title">ЧТО НОВОГО</h2>
        <div class="new-info">
            <div class="new-text">
                <p>
                    iPhone 15 Pro — первый iPhone, изготовленный из титана авиационного класса, изготовленного из того
                    же сплава, который используют космические корабли для полетов на Марс.
                </p>
                <p>
                    Титан имеет одно из лучших
                    соотношений прочности и веса среди всех металлов, что делает эти модели Pro самыми легкими за всю
                    историю. Вы заметите разницу, как только возьмете его в руки.
                </p>
                <p>
                    A17 Pro — это совершенно новый класс чипов iPhone, который на сегодняшний день обеспечивает лучшую
                    графическую производительность.
                </p>
                <p>
                    Мобильные игры будут выглядеть и ощущаться очень захватывающими, с невероятно детализированной
                    средой и более реалистичными персонажами. А благодаря лучшей в отрасли скорости и эффективности A17
                    Pro быстро и эффективно работает.
                </p>
            </div>
            <img
                    class="images-new"
                    src="{% static 'shop/img/ipgone_new.png' %}"
                    alt="iphone-news"
                    width="40%"
            />
        </div>
    </div>
</section>
<main class="main">
    <section class="audio">
        <div class="container">
            <div class="audio__inner">
                <div class="audio__box">
                    <p class="audio__text">
                        iPhone 15 Pro — это первый iPhone, поддерживающий USB 3.6, что обеспечивает огромный скачок в
                        скорости передачи данных и ускорении профессиональных рабочих процессов, чем когда-либо прежде.
                    </p>
                    <p class="audio__text">
                        Новый разъем USB‑C позволяет заряжать Mac или iPad с помощью того же кабеля, который вы
                        используете для зарядки iPhone 15 Pro. Прощай, беспорядок в кабелях.
                    </p>
                    <p class="audio__text">
                        Вплоть до <br>
                        <span style="font-size: 50px; font-weight: bold">20 раз быстрее</span><br>
                        передача файлов
                    </p>
                    <p class="audio__text">
                        А с совершенно новым Wi-Fi 6E7 вы получите в два раза больше скорость беспроводной связи. Таким
                        образом, вы можете загружать, скачивать и передавать файлы в мгновение ока.
                    </p>
                    <button class="btn">купить</button>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
{% include 'shop/inc/_footer.html' %}
<!--End Footer-->
</body>
</html>